# Python
__pycache__/
*.py[cod]
*.pyo
.venv/
venv/
build/
dist/
*.spec.bak

# Environment
.env

# Database
*.db
*.db-shm
*.db-wal

# Build
dist/
build/
*.spec

# VS Code
.vscode/settings.json

# Documentation
Phase1-roadmap.md
Phase2-roadmap.md
Phase3-roadmap.md
Phase4-roadmap.md
Phase5-roadmap.md

# open .gitignore and add this line:
typings/